<div class="header">
     <div class="container">
       <h1>&iquestSayQue?</h1>
       <h2>Sharing the momentous words we hear <br> from our Spanish-speaking loved ones</h2>
       
       <ul class="nav">
  <li>Have words to share?
    <ul>
      <li id="dropdown"><em>L</em>atinos know all too well the crazy, questionable, and hilarious things our families' say.</li>
      <li id="dropdown">This site was created as a means of entertainment, as well as, exposing non-Spanish speakers with the delight we hear from family gatherings.</li>
      <li id="dropdown"><b>Word of Caution:</b> words WILL BE literally translated by Google</li>
      <li id="dropdown"><font color="black">Have wise words to share? Type 'em up here and add them to the collection</font></li>
    </ul>
  </li>  
     </div>
   </div>


   <div class="funky">
    <div class="container">
      <div class="row">
        <div class="col-sm-6"> <p>Hello</p> </div>
        <div class="col-sm-6"> <p> Hello</p> </div>
      </div>
      <div class="row">
        <div class="col-sm-4"> <p>Hello</p> </div>
        <div class="col-sm-4"> <p> Hello</p> </div>
        <div class="col-sm-4"> <p> Hello</p> </div>
      </div>
    </div>
  </div>
          
   <div class="main">
     <div class="container">
       <%= form_for (@new_post) do |f| %>
        <%= f.text_field :comment, :placeholder => "Type your words here" %>
        <%= f.submit "See your words", :class => 'btn' %>
    <% end %>

       <ul class="comments">
           <% @all_posts.each do |p| %>
             <li><%= p.comment %></li>
           <% end %>
        </ul>
     </div>
   </div>

   <div class="footer">
      <div class="container">
        <h3>Share</h3>
        <ul>
          <li>Twitter</li>
          <li>Instagram</li>
        </ul>
        <p>&copy; 2015 &iquestSayQue?</p>
      </div>
    </div>


   <script src="http://s3.amazonaws.com/codecademy-content/projects/jquery.min.js"></script>
