/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 .translate { 
 	position: relative;
 }

.translate_control {
	display: none;
	color: #d45455;
	position: relative;
	top: 0px;
	left: 0;
	min-width: 20px;
	min-height: 5px;
	/*background-color: #edc278;*/
	text-decoration: none;
	border-radius: 25px;
	border: 2px solid #000;
	transition: color .5s ease-in-out;
 }

.goog-te-gadget-link {
	color: #d45455;
	text-decoration: none;
    font-size: 14px;
    font-weight: 900;
    text-transform: uppercase;
    letter-spacing: 1px;
    vertical-align: 7px;
}


.goog-te-gadget-link:hover {
	color: #d45455;
	text-decoration: none;
}

.goog-te-gadget-link:visited {
	color: #d45455;
	text-decoration: none;
}

/*.goog-te-gadget-link span {
	color: #fff;
	text-decoration: none;
}*/

.fa-4x {
	font-size: 3em;
}