<!DOCTYPE html>
<html>
<head>
  <title>SayQue</title>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  
  <%= csrf_meta_tags %>
<!-- google fonts -->
  <link href='http://fonts.googleapis.com/css?family=Playfair+Display:400,900|Yeseva+One|Raleway+Dots&subset=latin,latin-ext' rel='stylesheet' type='text/css'>
<!-- google fonts -->


<!-- google sample code -->
<script src="https://apis.google.com/js/client.js?onload=init"></script>
<!-- google sample code -->

</head>
<body>

<%= yield %>

</body>
</html>
